[submodule "DoubletDetection"]
	path = DoubletDetection
	url = https://github.com/JonathanShor/DoubletDetection.git
[submodule "src/DoubletDetection"]
	path = src/DoubletDetection
	url = https://github.com/JonathanShor/DoubletDetection.git
